@font-face {
    font-family: SfPro;
    src: url('assets/font/sf-pro-display/SF-Pro-Display-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SfProLight;
    src: url('assets/font/sf-pro-display/SF-Pro-Display-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: SfPro, sans-serif;
}


.font-delgada {
  font-family: SfProLight, sans-serif;
}

/* Scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 15px;              /* ancho de la barra */
  height: 15px;             /* alto para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #0f0f0f;      /* fondo de la pista */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2); /* sombra interna para dar profundidad */
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;      /* color de la barra */
  border-radius: 10px;      /* bordes redondeados */
  border: 2px solid #0f0f0f; /* espacio alrededor para dar efecto "acolchado" */
}

::-webkit-scrollbar-thumb:hover {
  background: #444;         /* color al hacer hover */
}
